# Carpetas generadas por Unity
/[Ll]ibrary/
/[Tt]emp/
/[Oo]bj/
/[Bb]uild/
/[Bb]uilds/
/[Ll]ogs/
/[Uu]ser[Ss]ettings/

# Carpetas que genera Unity 6
/[Rr]ecordings/
/.utmp/

# Plugins de Rider que Unity crea automáticamente
/[Aa]ssets/[Pp]lugins/[Ee]ditor/[Jj]et[Bb]rains*

# Archivos temporales de memoria
/[Mm]emory[Cc]aptures/

# Archivos de proyectos de Visual Studio y otros IDEs
ExportedObj/
.consulo/
*.csproj
*.unityproj
*.sln
*.slnx
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db

# Metadatos autogenerados
*.pidb.meta
*.pdb.meta
*.mdb.meta

# Reportes de crash
sysinfo.txt

# Builds
*.apk
*.aab
*.unitypackage
*.app

# Carpetas de IDEs
.vs/
.vscode/
.idea/

# Archivos del sistema operativo
.DS_Store
Thumbs.db
Desktop.ini